<!DOCTYPE html>
<html>
<head>
	<title>Review</title>
</head>
<body>

	<center>
	<h1>Review</h1>

	<form method="post" >
		<table>
			<tr>
				<td>Name: </td>
				<td><input type="text" name="name"></td>
			</tr>
			<tr>
				<td>Comment: </td>
				<td><input type="text" name="comment"></td>
			</tr>
			<tr>
				<td><input type="submit" name="submit" value="Submit"></td>
				<td></td>
			</tr>
		</table>
	</form>
	</center>

</body>
</html>