<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>
</head>
<body>
	<center>
	<div>
		<h1>Welcome To Computer shop!</h1> 		
	</div>

	<h4>
	<a href="/reviewList">View Review List</a> <br><br>
	<a href="/user/userlist">View User List</a> <br><br>
	<!-- <a href="/user/search">Search</a> <br> -->
	<a href="/logout">Logout</a>
	</h4>

	</center>
</body>
</html>